    <div id="mainContainer">
    
    <div id="mainInnerContainer">
    
    <div id="mainNavContainer">
        	<div id="mainNavInnerContainer">
				<div id="logo"><img src="app/images/omnimedia-logo-3d2.png"/></div>
				<ul id="mainnav">
              
                    <li><a class="projects" href="#/projects">projects</a></li>
                    
                    <li><a class="skills" href="#/skills">skills</a></li>
                    
                    <li><a class="contact" href="#/contact">contact</a></li>
                
            	</ul>
            </div>
		</div>
    
    	<div class="mainPageContainer">
		
		
                    
            <div id="ColumnTwo">
            
            <project-dir number="{{number}}" network="network" message="{{message}}" dial-up="leaveVoicemail(number, network, message)"></project-dir>
            
            <project-dir number="{{number}}" network="network" message="{{message}}" dial-up="leaveVoicemail(number, network, message)"></project-dir>
            
            <project-dir number="{{number}}" network="network" message="{{message}}" dial-up="leaveVoicemail(number, network, message)"></project-dir>
            
            </div>
            
		</div>		
        
            <div id="mainFooter"><div id="copyRight">&copy 2013 OMNIMEDIA</div></div>
    
    </div>
    </div>
